[build]
builder = "NIXPACKS"

[phases.build]
cmds = ["npm ci", "npx prisma generate", "npm run build"]

[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x"]

[start]
cmd = "npx prisma migrate deploy && npm start"

[deploy]
healthcheckPath = "/api/health"
healthcheckPort = 3000
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3